.session-page {
  @include xy-grid-container(100vw);
  min-height: 100vh;
  text-align: center;

  h5 { margin-bottom: rem-calc(40); }

  .session-wrapper {
    @include xy-cell(6);
    @include breakpoint(medium down) { @include xy-cell(12); }
    margin: rem-calc(20) 0;

    form {
      margin: 0 auto;
      max-width: rem-calc(200);
    }

    .button { margin-top: rem-calc(40); }
  }//session-wrapper
}//signup page
